// <СТИЛИ ДЛЯ СТРАНИЦЫ О ФОНДЕ >

// main занимает 1fr от страницы (футер прибит к низу)
.main {
  grid-area: main;
  display: grid;
  grid-template: 1fr / minmax(15px, 1fr) minmax(10px, 1652px) minmax(15px, 1fr);
  &__item {
    grid-area: 1/2;
  }
}
